<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Aakar Font Showcase</title>
	<style type="text/css">

		@font-face {
			font-family: 'Aakar';
			src: url('https://github.com/kartikm/fonts-aakar/releases/download/0.2/Aakar-Medium.eot');
			src: local('Aakar'),
				 url('https://github.com/kartikm/fonts-aakar/releases/download/0.2/Aakar-Medium.eot?#iefix') format('embedded-opentype'),
				 url('https://github.com/kartikm/fonts-aakar/releases/download/0.2/Aakar-Medium.woff') format('woff'),
				 url('https://github.com/kartikm/fonts-aakar/releases/download/0.2/aakar-medium.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		.aakar {
			font-family:'Aakar';
			text-align: center;
		}

	</style>
</head>
<body>

	{{{body}}}

</body>
</html>